[Unit]
Description=The NGINX HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStartPre=${NGINX_DIR}/sbin/nginx -t -c ${NGINX_DIR}/conf/nginx.conf   
ExecStart=${NGINX_DIR}/sbin/nginx -c ${NGINX_DIR}/conf/nginx.conf   
ExecReload=${NGINX_DIR}/sbin/nginx -s reload                                                 
ExecStop=${NGINX_DIR}/sbin/nginx -s stop                                                                                                       
PrivateTmp=true   

[Install]
WantedBy=multi-user.target
